@*model IEnumerable<MovieStar.Web.Models.MovieViewModel>
@{
    ViewBag.Title = "Update";
    var list = new List<MovieStar.Web.Models.MovieViewModel>(Model);
}

<h2>Update</h2>
@ViewBag.Message

@foreach(var model in Model)
{
    using(Html.BeginForm("Update", "Movie", FormMethod.Post, new { Id = model.Id }))
    {
        @Html.EditorFor(m => model.Title)
        @Html.TextBoxFor(m => model.Year, new { @Name = "Year" })
        <button type="submit">Update</button>
    }
}

@for(int i = 0; i < Model.Count(); i++)
{
    <input type="button" id="@list[i].Id" data-year="@list[i].Year" data-foo onclick="foo(this)" value="foo" />
}
<script>
    function foo(btn) {
        var id = btn.id;
        var year = btn.dataset.year;
        console.log(id, year, btn.dataset.foo);
    }
</script>
*@

@model MovieStar.Web.Models.MovieViewModel
@{
    ViewBag.Title = "Update";
}
@ViewBag.Message

@using (Html.BeginForm("Update", "Movie", FormMethod.Post, new { id = Model.Id }))
{
    @Html.TextBoxFor(m => m.Id)
    @Html.ValidationMessageFor(m => m.Id)
    <br />
    @Html.TextBoxFor(m => m.Title)
    @Html.ValidationMessageFor(m => m.Title)
    <br />
    @Html.TextBoxFor(m => m.Year)
    @Html.ValidationMessageFor(m => m.Year)
    <button type="submit">Edit</button>
}